@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@font-face {
  font-family: 'WebSymbolsRegular';
  src: url("websymbols/websymbols-regular-webfont.eot");
  src: url("websymbols/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("websymbols/websymbols-regular-webfont.woff") format("woff"), url("websymbols/websymbols-regular-webfont.ttf") format("truetype"), url("websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 15, ../scss/screen.scss */
.page-curl {
  background: #FFFFFF;
  background: -moz-linear-gradient(0deg, whitesmoke 0%, white 25%, white 75%, whitesmoke 100%);
  background: -ms-linear-gradient(0deg, whitesmoke 0%, white 25%, white 75%, whitesmoke 100%);
  background: -webkit-linear-gradient(0deg, whitesmoke 0%, white 25%, white 75%, whitesmoke 100%);
  background: linear-gradient(0deg, #f5f5f5 0%, #ffffff 25%, #ffffff 75%, #f5f5f5 100%);
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  margin: 10px auto 50px;
  padding: 15px;
  position: relative;
  width: 800px;
}

/* line 34, ../scss/screen.scss */
.page-curl:before, .page-curl:after {
  background: none;
  bottom: 12px;
  -moz-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
  content: "";
  height: 10px;
  left: 12px;
  position: absolute;
  width: 40%;
  z-index: -1;
  -moz-transform: skew(-4deg) rotate(-4deg);
  -webkit-transform: skew(-4deg) rotate(-4deg);
  transform: skew(-4deg) rotate(-4deg);
}

/* line 51, ../scss/screen.scss */
.page-curl:after {
  -moz-transform: skew(4deg) rotate(4deg);
  -webkit-transform: skew(4deg) rotate(4deg);
  transform: skew(4deg) rotate(4deg);
  left: auto;
  right: 12px;
}

/* line 59, ../scss/screen.scss */
.page-curl.shadow-left {
  background: -moz-linear-gradient(0deg, whitesmoke 0%, white 50%) !important;
  background: -ms-linear-gradient(0deg, whitesmoke 0%, white 50%) !important;
  background: -webkit-linear-gradient(0deg, whitesmoke 0%, white 50%) !important;
  background: linear-gradient(0deg, #f5f5f5 0%, #ffffff 50%) !important;
}

/* line 66, ../scss/screen.scss */
.page-curl.shadow-right {
  background: -moz-linear-gradient(0deg, white 50%, whitesmoke 100%) !important;
  background: -ms-linear-gradient(0deg, white 50%, whitesmoke 100%) !important;
  background: -webkit-linear-gradient(0deg, white 50%, whitesmoke 100%) !important;
  background: linear-gradient(0deg, #ffffff 50%, #f5f5f5 100%) !important;
}

/* line 73, ../scss/screen.scss */
.shadow-bottom:before, .shadow-bottom:after {
  top: auto;
  bottom: 12px;
  -moz-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
}

/* line 81, ../scss/screen.scss */
.shadow-left:after {
  display: none;
}

/* line 85, ../scss/screen.scss */
.shadow-right:before {
  display: none;
}

/* line 89, ../scss/screen.scss */
.shadow-top-bottom.shadow-left:after {
  display: block;
  bottom: auto;
  top: 15px;
  right: auto;
  left: 12px;
  -moz-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
}

/* line 100, ../scss/screen.scss */
.shadow-top-bottom.shadow-right:before {
  display: block;
  bottom: auto;
  top: 15px;
  right: 12px;
  left: auto;
  -moz-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
}

/* line 110, ../scss/screen.scss */
.pad {
  padding-left: 25px;
}

/* line 114, ../scss/screen.scss */
.banner {
  background: black;
}

/* Typography */
/* line 119, ../scss/screen.scss */
h1, h2 {
  font-size: 24px;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans' , sans-serif;
}

/* line 127, ../scss/screen.scss */
article h1 {
  text-align: left;
  font-size: 28px;
  border-left: 20px solid #62AFFD;
  border-bottom: 1px solid #62AFFD;
  text-indent: 10px;
  color: #444;
  margin-bottom: 20px;
}

/* line 143, ../scss/screen.scss */
article h2 {
  padding-top: 20px;
  font-size: 16px;
  letter-spacing: 0.7px;
  font-weight: 600;
  color: #444;
}
/* line 153, ../scss/screen.scss */
article h2 span {
  padding-left: 10px;
  font-style: blique;
  color: #777;
}

/* line 161, ../scss/screen.scss */
h3 {
  margin: 0;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}

/* line 168, ../scss/screen.scss */
p {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 14px;
}

/* Lists */
/* line 176, ../scss/screen.scss */
article {
  padding-top: 10px;
  margin-top: 10;
}
/* line 180, ../scss/screen.scss */
article ul {
  margin-bottom: 30px;
}
/* line 182, ../scss/screen.scss */
article ul li {
  line-height: 30px;
  font-size: 12px;
}
/* line 188, ../scss/screen.scss */
article ul.results {
  display: none;
}
/* line 190, ../scss/screen.scss */
article ul.results li {
  width: 150px;
  list-style: none;
}
/* line 193, ../scss/screen.scss */
article ul.results li span {
  width: 30px;
  display: inline-block;
  text-align: right;
  float: right;
}
/* line 202, ../scss/screen.scss */
article .resume-group {
  margin-bottom: 50px;
}

/* line 206, ../scss/screen.scss */
.holder {
  overflow: hidden;
  *zoom: 1;
}

/* line 210, ../scss/screen.scss */
div.logo {
  position: relative;
  margin: 0px auto;
  width: 800px;
  left: auto;
  font-size: 50px;
}

/* line 220, ../scss/screen.scss */
header .logo {
  font-family: "Open Sans";
  font-size: 24px;
  text-align: left;
}
/* line 225, ../scss/screen.scss */
header .logo em {
  font-style: normal;
  font-size: 30px;
}
/* line 232, ../scss/screen.scss */
header .email {
  display: inline-block;
  text-align: right;
  float: right;
  font-size: 18px;
}

/* line 244, ../scss/screen.scss */
.job-description h1 {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
  font-size: 72px;
  font-weight: 600;
  color: #000;
}
/* line 253, ../scss/screen.scss */
.job-description h3 {
  display: none;
}

/* line 259, ../scss/screen.scss */
.profile-description {
  width: 400px;
  float: left;
  display: inline-block;
}

/* line 267, ../scss/screen.scss */
.detailed-profile {
  width: 40%;
  display: inline-block;
  float: right;
}
/* line 272, ../scss/screen.scss */
.detailed-profile fieldset {
  border: none;
  font-size: 14px;
}
/* line 275, ../scss/screen.scss */
.detailed-profile fieldset label {
  text-align: left;
  width: 70px;
  float: left;
}

/* line 292, ../scss/screen.scss */
.skills-container {
  overflow: hidden;
  *zoom: 1;
}

/* line 296, ../scss/screen.scss */
.skill {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 300, ../scss/screen.scss */
.skill h3 {
  font-family: "Reenie Beanie";
  text-align: center;
  font-size: 36px;
}
/* line 306, ../scss/screen.scss */
.skill ul li {
  list-style: none;
  margin-left: 0;
  width: 300px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 5px;
}
/* line 314, ../scss/screen.scss */
.skill ul li h4 {
  width: 100px;
  margin: 0;
  padding: 0;
  display: block;
  vertical-align: middle;
  float: left;
}
/* line 321, ../scss/screen.scss */
.skill ul li span {
  display: block;
  width: 200px;
  height: 30px;
  background: url("../images/bg/bullet.png") no-repeat;
  float: right;
}
/* line 330, ../scss/screen.scss */
.skill ul li span.lvl6 {
  background-position: 0px 0px;
}
/* line 333, ../scss/screen.scss */
.skill ul li span.lvl5 {
  background-position: 0px -32px;
}
/* line 336, ../scss/screen.scss */
.skill ul li span.lvl4 {
  background-position: 0px -64px;
}
/* line 339, ../scss/screen.scss */
.skill ul li span.lvl3 {
  background-position: 0px -96px;
}
/* line 342, ../scss/screen.scss */
.skill ul li span.lvl2 {
  background-position: 0px -128px;
}
/* line 345, ../scss/screen.scss */
.skill ul li span.lvl1 {
  background-position: 0px -160px;
}

/* line 354, ../scss/screen.scss */
.main-menu {
  width: 100%;
}
/* line 356, ../scss/screen.scss */
.main-menu ul {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 361, ../scss/screen.scss */
.main-menu ul li {
  display: inline-block;
  text-align: center;
}

@font-face {
  font-family: 'WebSymbolsRegular';
  src: url("websymbols/websymbols-regular-webfont.eot");
  src: url("websymbols/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("websymbols/websymbols-regular-webfont.woff") format("woff"), url("websymbols/websymbols-regular-webfont.ttf") format("truetype"), url("websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 379, ../scss/screen.scss */
.ca-menu {
  padding: 0;
  margin: 20px auto;
  width: 250px;
}
/* line 384, ../scss/screen.scss */
.ca-menu h2 {
  margin-top: 0;
}

/* line 388, ../scss/screen.scss */
.ca-menu li {
  width: 250px;
  height: 100px;
  overflow: hidden;
  position: relative;
  display: block;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 4px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

/* line 409, ../scss/screen.scss */
.ca-menu li a {
  text-align: left;
  width: 100%;
  height: 100%;
  display: block;
  color: #333;
  position: relative;
}

/* line 417, ../scss/screen.scss */
.ca-icon {
  font-family: 'WebSymbolsRegular', cursive;
  font-size: 30px;
  color: #333;
  text-shadow: 0px 0px 1px #333;
  line-height: 90px;
  position: absolute;
  width: 60px;
  left: 20px;
  text-align: center;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

/* line 433, ../scss/screen.scss */
.ca-content {
  position: absolute;
  left: 90px;
  width: 130px;
  height: 60px;
  top: 20px;
}

/* line 440, ../scss/screen.scss */
.ca-main {
  font-size: 30px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

/* line 448, ../scss/screen.scss */
.ca-sub {
  font-size: 11px;
  color: #666;
  font-weight: 100;
  font-family: "open sans";
}

/* line 454, ../scss/screen.scss */
.ca-menu li:hover, .ca-menu li.active {
  background-color: #000;
}

/* line 457, ../scss/screen.scss */
.ca-menu li:hover .ca-icon, .ca-menu li.active .ca-icon {
  color: #5EADFD;
  font-size: 120px;
  opacity: 0.2;
  left: -20px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}

/* line 467, ../scss/screen.scss */
.ca-menu li:hover .ca-main, .ca-menu li.active .ca-main {
  color: #5EADFD;
  opacity: 0.8;
}

/* line 471, ../scss/screen.scss */
.ca-menu li:hover .ca-sub, .ca-menu li.active .ca-sub {
  color: #fff;
  opacity: 0.8;
}

/* Target menu */
/* Responsive */
/* line 495, ../scss/screen.scss */
.loadstate h1 {
  font-size: 90px;
  padding: 1em 0;
}
/* line 500, ../scss/screen.scss */
.loadstate h3 {
  display: block;
  text-align: center;
  padding: 0 0 4em 0;
}

/* line 508, ../scss/screen.scss */
footer {
  position: relative;
  bottom: 0;
}
/* line 512, ../scss/screen.scss */
footer div {
  width: 100%;
  padding: 1em 0;
  text-align: center;
  font-family: "Reenie Beanie";
}

@media (max-width: 900px) {
  /* line 521, ../scss/screen.scss */
  article.page-curl {
    width: 80%;
  }
}
