/*---------------------------------------------------
    LESS Origins 0.1
  ---------------------------------------------------
    A set of useful mixins for rapid styling
-----------------------------------------------------*/
/*//Javascript inside CSS
@browser : `browserDetect()`;
@report : `console.log('@{a}')`;*/
.arial {
  font-family: "Arial", sans-serif;
}
.trebuchet {
  font-family: "Trebuchet MS", sans-serif;
}
.opensans {
  font-family: "Open Sans", sans-serif;
}
.century {
  font-family: "Century Gothic", sans-serif;
}
.questrial {
  font-family: "Questrial", sans-serif;
}
.times {
  font-family: "Times New Roman", serif;
}
.serif {
  font-family: "Arial", sans-serif;
}
.sanserif {
  font-family: "Times New Roman", serif;
}
.box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
/*! 
normalize.css 2011-11-04T15:38 UTC 
Credit to : http://github.com/necolas/normalize.css 
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  width: 100%;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 	Normalize.css ends here
	Your wonderful and creative styles begin here */
@media print {
  
}
@media (max-width: 1100px) {
  
}
@media (max-width: 980px) {
  
}
@media (max-width: 480px) {
  
}
@-webkit-keyframes wiggle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes wiggle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  background: #eeeeee url('../images/bg/light_wool.png');
  font-size: 100%;
}
div.logo {
  position: absolute;
  width: 1000px;
  height: 90px;
  line-height: 90px;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -500px;
  text-align: center;
  font-family: 'Arial';
  font-family: 'Reenie Beanie', 'Playball', 'Arial', cursive;
  font-size: 90px;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  color: #eee;
  /*Firefox*/

  -moz-animation-name: wiggle;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  /*Chrome Safari*/

  -webkit-animation-name: wiggle;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  /*Opera*/

  -o-animation-name: wiggle;
  -o-animation-duration: 4s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease-in-out;
  /*Microsoft*/

  -ms-animation-name: wiggle;
  -ms-animation-duration: 4s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: ease-in-out;
  /*The future*/

  animation-name: wiggle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
/*
	Tyopgraphy
*/
h1 {
  font-family: 'Medula One', cursive;
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 20px;
}
p {
  text-align: justify;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 100%;
  line-height: 28px;
  text-shadow: 0 1px 0px white;
}
::selection {
  background: #00c864;
  /* Safari */

  text-shadow: none!important;
}
::-moz-selection {
  background: #00c864;
  /* Firefox */

  text-shadow: none!important;
}
.about .content-wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
.about .content-wrapper .logo {
  position: static;
  margin: 0;
  text-align: left;
  font-size: 40px;
  color: #000;
  height: 70px;
  /*Firefox*/

  -moz-animation-name: stop;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  /*Chrome Safari*/

  -webkit-animation-name: stop;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  /*Opera*/

  -o-animation-name: stop;
  -o-animation-duration: 1s;
  -o-animation-iteration-count: 1;
  -o-animation-timing-function: linear;
  /*Microsoft*/

  -ms-animation-name: stop;
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: linear;
  /*The future*/

  animation-name: stop;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  width: auto;
}
.about .content-wrapper article {
  margin: 10px auto 30px;
  min-height: 50px;
  border-bottom: 2px solid #eee;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}
.about .content-wrapper article:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #76CBFE;
}
