@import 'compass';
@import 'font-awesome.scss';
@import url(http://fonts.googleapis.com/css?family=Imprima|Open+Sans:400,300);

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('websymbols/websymbols-regular-webfont.woff') format('woff'),
         url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
         url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@mixin animate($name, $duration:1s , $iteration:1 , $timing:linear , $direction:normal , $delay:0s, $fillmode:forwards){
  /*Firefox*/
  -moz-animation-name               : $name;
  -moz-animation-duration           : $duration;
  -moz-animation-iteration-count    : $iteration;
  -moz-animation-timing-function    : $timing;
  /*Chrome Safari                   : value*/
  -webkit-animation-name            : $name;
  -webkit-animation-duration        : $duration;
  -webkit-animation-iteration-count : $iteration;
  -webkit-animation-timing-function : $timing;
  -webkit-animation-delay           : $delay;
  /*Opera                           : value*/
  -o-animation-name                 : $name;
  -o-animation-duration             : $duration;
  -o-animation-iteration-count      : $iteration;
  -o-animation-timing-function      : $timing;
  /*Microsoft                       : value*/
  -ms-animation-name                : $name;
  -ms-animation-duration            : $duration;
  -ms-animation-iteration-count     : $iteration;
  -ms-animation-timing-function     : $timing;
  /*The future                      : value*/
  animation-name                    : $name;
  animation-duration                : $duration;
  animation-iteration-count         : $iteration;
  animation-timing-function         : $timing;
}


@-webkit-keyframes swing{
	0%{ @include rotateZ(-10deg)}
	50%{ @include rotateZ(10deg)}	
	100%{ @include rotateZ(-10deg)}	
}

@-moz-keyframes swing{
	0%{ @include rotateZ(-10deg)}
	50%{ @include rotateZ(10deg)}	
	100%{ @include rotateZ(-10deg)}	
}

.page-curl {
	background: #FFFFFF;
	background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
	background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
	background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
	background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
	//border: 1px solid #999;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	margin: 10px auto 50px;
	padding: 15px;
	position: relative;
	width: 800px;
}

.page-curl:before, .page-curl:after {
	background: none;
	bottom: 12px;
	-moz-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	content: "";
	height: 10px;
	left: 12px;
	position: absolute;
	width: 40%;
	z-index: -1;
	-moz-transform: skew(-4deg) rotate(-4deg);
	-webkit-transform: skew(-4deg) rotate(-4deg);
	transform: skew(-4deg) rotate(-4deg);
}

.page-curl:after {
	-moz-transform: skew(4deg) rotate(4deg);
	-webkit-transform: skew(4deg) rotate(4deg);
	transform: skew(4deg) rotate(4deg);
	left: auto;
	right: 12px;
}

.page-curl.shadow-left {
	background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 50%) !important;
	background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 50%) !important;
	background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 50%) !important;
	background: linear-gradient(0deg, #F5F5F5 0%, #FFF 50%) !important;
}

.page-curl.shadow-right {
	background: -moz-linear-gradient(0deg, #FFF 50%, #F5F5F5 100%) !important;
	background: -ms-linear-gradient(0deg, #FFF 50%, #F5F5F5 100%) !important;
	background: -webkit-linear-gradient(0deg, #FFF 50%, #F5F5F5 100%) !important;
	background: linear-gradient(0deg, #FFF 50%, #F5F5F5 100%) !important;
}

.shadow-bottom:before, .shadow-bottom:after {
	top: auto;
	bottom: 12px;
	-moz-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
}

.shadow-left:after {
	display: none;
}

.shadow-right:before {
	display: none;
}

.shadow-top-bottom.shadow-left:after {
	display: block;
	bottom: auto;
	top: 15px;
	right: auto;
	left: 12px;
	-moz-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
}

.shadow-top-bottom.shadow-right:before {
	display: block;
	bottom: auto;
	top: 15px;
	right: 12px;
	left: auto;
	-moz-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
}
.pad{
	padding-left:25px;
}

.banner{
	background: black;
}

/* Typography */

a, a:visited{
	color           : #62AFFD;
	text-decoration : none;
	border-bottom   : 1px dotted #62AFFD;
}

h1, h2{
	font-size: 24px;
	padding:0;
	margin: 0;
	font-family: 'Open Sans' , sans-serif;
	
	
}

article h1{
	font-family: 'Imprima' , sans-serif;
	text-align     : left;
	//padding-top : 40px;
	font-size: 28px;
	
	//

	border-left     : 20px solid #DDDDDD;
	border-bottom   : 1px solid #DDDDDD;
	@include transition(all .2s ease);
	text-indent     : 10px;
	color           : #444;
	margin-bottom  : 20px;
	//border-bottom : 2px dashed grey;
	//background    : url(http://www.dreamtemplate.com/dreamcodes/divider/images/tsc_divider7.png) no-repeat bottom center;


	i{
		color           : #DDDDDD;
		float:right;
		padding-right: 10px;
		@include transition(color .2s ease);
	}

	&:hover{
		border-left     : 20px solid #62AFFD;
		border-bottom   : 1px solid #62AFFD;
		i{
			@include transition(all .2s ease);
			color: #62AFFD;
		}
	}
}

.resume-group:hover  {
	h1 {
		@include transition(all .2s ease);
		border-left     : 20px solid #62AFFD;
		border-bottom   : 1px solid #62AFFD;
	}
	i{
		@include transition(all .2s ease);
		color: #62AFFD;
	}
}


h2{
	font-family: 'Imprima' , sans-serif;
}

article h2{
	font-family: 'Imprima' , sans-serif;
	padding-top:20px;


	font-size: 16px;
	letter-spacing: 0.7px;
	font-weight: 600;
		color: #444;

	span{
		padding-left: 10px;
		font-style: blique;
		color: #777;
		
	}	
}

h3{
	margin:0;
	font-size:22px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
}

p{
	font-family : 'Open Sans', sans-serif;
	text-align  : left;
	font-size   : 14px;
}


/* Lists */
article{
	padding-top:10px;
	margin-top:10;

	ul{
		margin-bottom:30px;
		li{
			line-height:30px;
			font-size:12px;
		}
	}

	ul.results {
		display:none;
		li{
			width: 150px;
			list-style: none;
			span{
				width: 30px;
				display:inline-block;
				text-align: right;
				float:right;
			}
		}
	}	

	.resume-group{
		margin-bottom: 50px;
	}
}
.holder{
	@include clearfix;
}

div.logo{
	position    : relative;
	margin      : 0px auto;
	width       : 800px;
	left        : auto;
	font-size   : 50px;	

}

header{
	.logo{
		font-family: "Open Sans";
		font-size: 24px;
		text-align  : left;

		em{
			font-style:normal;

			font-size: 30px;
		}
	}

	.email{
		display:inline-block;
		text-align: right;
		float:right;
		font-size: 18px;
	}
}

.job-description{



	h1{
		@include transition(all 0.5s ease);
		text-align: center;
		font-size: 72px;
		font-weight: 100;
		color: #000;
		

		//text-shadow: -1px -1px 0px #000;		
	}

	h3{
		display:none;
		font-family: "Medula One", cursive;

	}

	h4{
		display:none;
	}
}


.profile-description{
	width: 460px;
	float:left;
	display:inline-block;

	img{
		margin-right: 10px;
		margin-top:15px;
	}


}

.detailed-profile{
	width: 40%;
	display:inline-block;
	float:right;	
	margin-top:10px;

	fieldset{
		border     : none;		
		font-size: 14px;
		label{
			text-align : left;
			width      : 70px;
			float      : left;
		}
	}
}


// <div class="skills-container">
// <div class="skill">
//   <h3>Programming</h3>
//   <ul>
//     <li>
//       <h4>HTML/HTML5</h4>
//       <span class="lvl6"></span>

.skills-container{
	@include clearfix;

}
.skill{
	float:left;
	width: 50%;
	@include box-sizing('border-box');
	h3{
		font-family : "Reenie Beanie";
		font-family : "Imprima", sans-serif;
		text-align  : center;
		font-weight: 100;
		font-size   : 24px;
	}
	ul{
		li{
			list-style: none;
			margin-left:0;
			width: 300px;	
			height: 30px;
			line-height:30px;		
			@include clearfix;
			padding-bottom: 5px;
			h4{
				width:100px;
				margin:0;padding:0;
				display: block;
				vertical-align: middle;
				float:left;
			}
			span{
				display: block;
				width: 200px;
				height: 30px;
				background: url('../images/bg/bullet.png') no-repeat;
				float:right;
				


				$height     : 32px;

				i{
					font-size      : $height - 8px;
					line-height    : $height;
					width        : 1.2em;	
					color          : #62AFFD;
					text-shadow    : 0 0 1px #000;
					font-weight    : 600;
					letter-spacing : 10px;
				}
				

				&.lvl6{
					background-position: 0px (-($height * 0));
					//&:before         { content: "\f10c"; }
				}				
				&.lvl5{
					background-position: 0px (-($height * 1));
					//&:before         { content: "\f10c\f10c\f10c\f10c\f10c\f0dd"; }
				}				
				&.lvl4{
					background-position: 0px (-($height * 2));
				}				
				&.lvl3{
					background-position: 0px (-($height * 3));
				}				
				&.lvl2{
					background-position: 0px (-($height * 4));
				}				
				&.lvl1{
					background-position: 0px (-($height * 5));
				}
			}
		}
	}
}


.main-menu{
	width: 100%;
	ul{
		display:inline-block;
		text-align: center;
		width: 100%;
		margin:0;padding:0;
		li{
			display:inline-block;
			text-align: center;
		}
	}
}


@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ca-menu{
    padding:0;
    margin:20px auto;
    width: 250px;

    h2{
    	margin-top:0;
    }
}
.ca-menu li{
    width: 250px;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: block;
    background: #fff;
    @include box-shadow( 1px 1px 2px rgba(0,0,0,0.2) );

    @include border-radius(5px);

    margin-bottom: 4px;
    -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
// .ca-menu li:last-child{
//     margin-bottom: 0px;
// }
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 30px;
    color: #333;
    text-shadow: 0px 0px 1px #333;
    line-height: 90px;
    position: absolute;
    width: 60px;
    left: 20px;
    text-align: center;
    -webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.ca-content{
    position: absolute;
    left: 90px;
    width: 130px;
    height: 60px;
    top: 20px;
}
.ca-main{
    font-size: 30px;
    -webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.ca-sub{
    font-size   : 11px;
    color       : #666;
    font-weight : 100;
    font-family : "open sans";
}
.ca-menu li:hover, .ca-menu li.active{
    background-color: #000;
}
.ca-menu li:hover .ca-icon, .ca-menu li.active .ca-icon{
    color: #5EADFD;
    font-size: 120px;
    opacity: 0.2;
    left: -20px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}
.ca-menu li:hover .ca-main, .ca-menu li.active .ca-main{
    color: #5EADFD;
    opacity: 0.8;
}
.ca-menu li:hover .ca-sub, .ca-menu li.active .ca-sub{
    color: #fff;
    opacity: 0.8;
}

// .main-menu{
// 	li:hover{
// 		&:nth-child(1){
// 			.ca-main, .ca-icon{
// 				//color: blue;
// 			}
// 		}

// 		&:nth-child(2){
// 			.ca-main, .ca-icon{
// 				color: #00C864;
// 			}	
// 		}

// 		&:nth-child(3){
// 			.ca-main, .ca-icon{
// 				color:#F22222 ;
// 			}
// 		}		
// 	}
// }

/* Target menu */


// article {
// 	display  : none;
// 	position : absolute;
// 	top      : 0;
// 	left     : 0;
// }

// #profile, #resume, #portfolio{
// 	&:target{
// 		display:block;
// 	}
// }

/* Responsive */

.loadstate{
	h1{
		font-size:90px;
		padding: 1em 0;
	}

	h4{
		text-align  : center;
		font-family : "Imprima";
		display:block;
		font-weight : 100;
		opacity     : 0;
		@include transition(all .5s ease);
		margin-bottom:2em;
		line-height: 2em;
		background:  #00C864	;
		color:       white;
		@include     box-shadow(0 4px 1px #000);
	}

	&:hover{
		h4{
			opacity: 1;
			@include transition(all .5s ease);
		}
	}


	h3{
		display:block;
		text-align: center;
		padding: 0 0 2em 0;
	}

}

.project-box{
	display:inline-block;
	padding: 10px;
	text-align: center;
}

footer{
	position:relative;
	bottom:0;

	p{
		display:inline-block;
		width: 100%;
		padding: 1em 0;
		text-align: center;
		font-family: "Reenie Beanie";
		font-size: 24px;

		a, a:visited{
			font-family: "Open Sans" , sans-serif;
			margin-left: 10px;
			color: #444;
			font-size: 16px;
			@include transition(all .5s ease);

			&:hover{
				@include rotateX(360deg);
				@include transition(all .5s ease);
			}
		}
	}
}

.poster-card-wrapper{
	position   : absolute;
	top        : 250px;
	right      : 277px;
	display    : block;

	.poster-card{
		background : url(../images/bg/poster-bg.png) no-repeat center center;
		width      : 222px;
		height     : 206px;
		@include transform-origin( top ,  center );
		@include animate(swing, 3s , infinite, ease-in-out);

		p{
			position: relative;
			top: 120px;
			font-size: 25px;
			font-family : "Imprima", sans-serif;
			text-align: center;
		}	
	}
	
}

.toggler{
	cursor:pointer;
}

.toggler + div, .toggler + ul{
	height:0;
	display:none;
	opacity: 0;
	@include transition(all .2s ease);
}

.toggler.active + div, .toggler.active + ul{
	opacity: 1;
	height: auto;
	display:block;
	@include transition(all .5s ease);
}

@media(max-width: 1650px){
	.poster-card-wrapper{
		top: 24px;
		left: 50%;
		margin-left: -155px;
		//@include opacity(.3);
		@include scale(.7);
	}
}

@media (max-width: 900px ) {

	.poster-card-wrapper{
		top: 24px;
		left: 50%;
		margin-left: -111px;
		//@include opacity(.3);
		@include scale(.7);
	}

	article.page-curl, .detailed-profile, .profile-description, .skill, .ca-menu li , .ca-menu , div.logo{
		width: 80%;
		//margin:0 auto;
		float:none;
	}

	.detailed-profile, .profile-description{
		width: 100%;
		fieldset{
			width   : 45%;
			display : inline-block;
		}
	}

	div.logo{
		text-align: center;
		.email{
			display:none;
		}
	}

	.project-box{
		max-width: 50%;
		img{
			
			max-width  : 100%;
			height     : auto;
			margin     : 0 auto;
			text-align : center;
		}
	}


}


@media(max-width : 480px){

	.poster-card-wrapper{
		position: relative;
		left: auto;
		right: auto;
		width: 260px;
		margin: 0 auto;
	}

	.loadstate h1{
		font-size: 60px;
	}

	.job-description h1{
		font-size: 40px;


	}

	.profile-description{
		img{
			display:block;
			margin: 0 auto;
			padding: 25px;
		}

		p{
			display:block;
			width: 100%;
		}

	}

	.detailed-profile{		
		fieldset{
			width: 80%;
			display:block;
			margin: 0 auto;
		}
	}

	.skill{
		ul{
			padding-left:0;

			li{
				span{
					left     : -40px;
					position : relative;
					@include scale(.7);
					@include transform-origin(left center);
				}
			}
		}
	}

	.project-box{
		max-width: 100%;
		img{
			
			max-width: 100%;
			height: auto;
		}
	}
}