<article class="page-blog-full">
  <h1>How to dance with {{slug}}</h1>
  <p class="author">by Sandeep Ramgolam {{title}}</p>

  <p class="intro">One of the iconic representations of the digital age is an image of the ubiquitous digital screen, stereotypically represented as a grid of brightly-lit pixels.</p>

  <p>This, like many of our other traditional perceptions of digital and interactive experiences, are either changing or being replaced altogether as we enter the post-PC era. New devices have such high resolution displays that individual pixels become imperceptibly small. Other devices, like the Amazon Kindle, eschew pixels altogether — opting to use electronic ink.</p>

  <a class="btn btn-success" ui-sref="blog.listing">Go to Listing</a>

  <!--<p class="pullquote">These new devices are radically transforming what is possible in digital visual design and this has radical implications for digital typography.&nbsp;</p>-->

  <!--<p>The death of the pixel leaves you with a flowing, magazine-quality canvas to design for. A canvas where curves are curves, not ugly pixel approximations of curves. A canvas that-->
    <!--begins to blur the line between what we consider to be real and what we consider to be virtual.</p>-->

  <!--<p>It wasn't too long ago that there was one set of rules for use of type on print and use of type on screen. Now that we have screens that are essentially print quality, we have to reevaluate these conventions.</p>-->

  <!--<p> Web sites are transforming from boring fields of Arial to embrace the gamut of typographical possibilities offered by web fonts. Web fonts, combined with the style and layout options presented by the creative use of CSS and JavaScript offer a new world of typographic opportunity on the web.&nbsp;</p>-->

  <!--<h2>Emotional Typography</h2><p>Web fonts allow for a wider palette of typefaces which can provide far more quirkiness and personality.</p>-->

  <!--<p>The challenge is to help people understand this. The classics such as Arial, Helvetica, Verdana or Tahoma are engrained as fonts you will always expect to see; readers aren't used to seeing type choices beyond these usual suspects.</p>-->

  <!--<p>The majority of screen graphics are done with JPGs that don't scale from the regular screens to retina screens. Now if you have these new type choices as web fonts, you have a scalable version of this which you can use, providing endless possibilities.</p>-->

  <!--<h2>Technical Advantages</h2><p>Think of this as adapting your tone of voice to the type of person or situation you are in. If you were being given a medical diagnosis the tone would not be fun or light-hearted. In contrast talking colloquially to a close friend could be the opposite of this.</p>-->

  <!--<p>Web fonts allow you to have this kind of razor-sharp efficiency and elegance in design whilst at the same time avoiding the need for adding additional page graphics, which in turn add load time, decrease workflow performance and risk breaking across screen dimensions and device situations.</p>-->

  <!--<p><br></p>-->
</article>